<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <style>
        body {
            padding-top: 0px;
            padding-bottom: 0px;
        }
    </style>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">


    <script src="{{ url_for('static', filename='js/vendor/modernizr-2.8.3-respond-1.4.2.min.js') }}"></script>
</head>
<body>
<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

<!-- Main jumbotron for a primary marketing message or call to action -->


<div id="top_container" class="row">

    <img id="svg_logo" src="{{ url_for('static', filename='img/logo.svg') }}">

    <div id="titles_holder" class="row">
        <div class="subtext_logo_div col-md-12">
            <h1 id="subtext_logo"> An education that never expires</h1>
        </div>
        <div class="buttons_logo_div col-md-offset-3 col-md-2 col-sm-offset-2 col-sm-3">
            <a class="buttons_logo btn btn-primary btn-lg" href="#first_lesson" role="button">Work Ethics</a>
        </div>
        <div class="buttons_logo_div col-md-2 col-sm-2">
            <a class="buttons_logo btn btn-primary btn-lg" href="#second_lesson" role="button">Charity</a>
        </div>
        <div class="buttons_logo_div col-md-2 col-sm-3">
            <a class="buttons_logo btn btn-primary btn-lg" href="#third_lesson" role="button">Responsibility</a>
        </div>
    </div>

</div>

<div id="first_lesson" class="row" name="first_lesson">
    <div class="buttons_logo_div col-xs-offset-4 col-xs-4">
        <img id="leaf_pic" src="{{ url_for('static', filename='img/leaf-green.svg') }}">
    </div>
    <div class="buttons_logo_div col-xs-offset-4 col-xs-4">
        <p class="lesson_title btn btn-primary btn-lg" href="#" role="button">Work Ethics</p>
    </div>
    <div class="buttons_logo_div col-xs-offset-2 col-xs-8">
        <p class="lesson_text" href="#" role="button">Educashion helps kids develop a strong work ethic by teaching them
            that hard work pays off. Instant positive feedback helps develop good habits for life-long success.</p>
    </div>
</div>

<div id="second_lesson" class="row" name="second_lesson">
    <div class="buttons_logo_div col-xs-offset-4 col-xs-4">
        <img id="charity_pic" src="{{ url_for('static', filename='img/comment.svg') }}">
    </div>
    <div class="buttons_logo_div col-xs-offset-4 col-xs-4">
        <p class="lesson_title btn btn-primary btn-lg" href="#" role="button">Charity</p>
    </div>
    <div class="buttons_logo_div col-xs-offset-2 col-xs-8">
        <p class="lesson_text" href="#" role="button">We give kids a choice as to how they want to spend their money to
            improve their community and the world. 50% of what they earn is donated to the charity fund of their
            choosing.</p>
    </div>
</div>

<div id="third_lesson" class="row" name="third_lesson">
    <div class="buttons_logo_div col-xs-offset-4 col-xs-4">
        <img id="responsibility_pic" src="{{ url_for('static', filename='img/comment.svg') }}">
    </div>
    <div class="buttons_logo_div col-xs-offset-4 col-xs-4">
        <p class="lesson_title btn btn-primary btn-lg" href="#" role="button">Responsibility</p>
    </div>
    <div class="buttons_logo_div col-xs-offset-2 col-xs-8">
        <p class="lesson_text" href="#" role="button">By giving kids a way to earn their own allowance, they learn the
            value of money. By teaching them to give back, they learn that their financial decisions can do good for
            society.</p>
    </div>
</div>


<div id="jumbo_container" class="row">
    <div id="student_jumbo" class="my_jumbo col-md-6">
        <div class="inside_jumbo">
            <h2>Students,</h2>

            <p>Buy what you always wanted.</p>
            <a class="btn btn-default" href="{{ data.sign_in }}" role="button">Sign in</a>
        </div>
    </div>
    <div id="parent_jumbo" class="my_jumbo col-md-6">
        <div class="inside_jumbo">
            <h2>Parents,</h2>

            <p>Motivate your child to learn.</p>
            <a class="btn btn-default" href="{{ data.sign_in }}" role="button">Sign in</a>
        </div>
    </div>
</div>


</div> <!-- /container -->
<script data-main="js/main" src="{{ url_for('static', filename='js/vendor/require.js') }}"></script>


</body>
</html>
