

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html{
  height: 100%;
}

body {
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
}

.clndr-controls .month {
    color: #cecece;
    padding-left: 5px;
}

.btn.btn-primary {
  margin-top: 0;
  border: 2px solid #333333;
  background-color: rgba(0, 0, 0, 0);
  background-image:url('');
  border-radius: 500px;
  color: #333333;
  text-shadow: none;
  box-shadow: none;
}

.event{
  background-color:rgba(0,0,0,0.1)
}

/* narrow devices */
@media (max-width: 970px) {
  .my_jumbo {
    height:50%;
    width:100%;
  }

  #student_jumbo {
    border-top:4px solid #ffffff;
    border-right:4px solid #ffffff;
    border-left:4px solid #ffffff;
    border-bottom:2px solid #ffffff;
  }

  #parent_jumbo {
    border-top:2px solid #ffffff;
    border-right:4px solid #ffffff;
    border-left:4px solid #ffffff;
    border-bottom:4px solid #ffffff;
  }

  #svg_logo {
    width:110px;
    top:10px;
    left:10px;
    position:absolute;
  }

}

/* wide devices */
@media (min-width: 970px) {
  .my_jumbo {
    height:100%;
    width:50%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
  }

  #student_jumbo {
    border-top:4px solid #ffffff;
    border-right:2px solid #ffffff;
    border-left:4px solid #ffffff;
    border-bottom:4px solid #ffffff;
  }

  #parent_jumbo {
    border-top:4px solid #ffffff;
    border-right:4px solid #ffffff;
    border-left:2px solid #ffffff;
    border-bottom:4px solid #ffffff;
  }

  #svg_logo {
    width:180px;
    top:25px;
    left:25px;
    position:absolute;
    fill:#ffffff;
  }

}




#top_container {
  height:100vh;
  margin-left:0;
  margin-right:0;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url(../img/shattered.png);
  background-color: #ffffff;
  background-repeat:repeat;
  background-attachment: fixed;
  background-position: center;
  border-top:4px solid #ffffff;
  border-right:4px solid #ffffff;
  border-left:4px solid #ffffff;
  border-bottom:2px solid #ffffff;
}

#titles_holder {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#first_lesson {
  height:100vh;
  margin-left:0;
  margin-right:0;
  background-color: #B8CFA5;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  border-top:2px solid #ffffff;
  border-right:4px solid #ffffff;
  border-left:4px solid #ffffff;
  border-bottom:2px solid #ffffff;
}

#leaf_pic {
  margin-top:25px;
  width:100%;
  margin-bottom:25px;
  padding-left:20px;
}

#charity_pic {
  margin-top:25px;
  width:100%;
  margin-bottom:25px;
}

#responsibility_pic {
  margin-top:25px;
  width:100%;
  margin-bottom:25px;
}

.lesson_text {
  margin-top:45px;
  font-size:35px;
}

#second_lesson {
  height:100vh;
  margin-left:0;
  margin-right:0;
  background-color: #C8C9E8;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  border-top:2px solid #ffffff;
  border-right:4px solid #ffffff;
  border-left:4px solid #ffffff;
  border-bottom:2px solid #ffffff;
}

#third_lesson {
  height:100vh;
  margin-left:0;
  margin-right:0;
  background-color: #999390;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  border-top:2px solid #ffffff;
  border-right:4px solid #ffffff;
  border-left:4px solid #ffffff;
  border-bottom:0px solid #ffffff;
}


#subtext_logo {
  margin:15px 0px 45px 20px;
  margin-top:15px;
  color:#000000;
  margin-bottom:45px;
}

.buttons_logo {
  display:inline-block;
  clear_both;
  font-size: 20px;
  margin-bottom:30px;
  margin-right:0;
}

.subtext_logo_div {
  text-align: center;
  padding:0;
}

.buttons_logo_div {
  text-align: center;
}



#jumbo_container {
  height:100vh;
  margin-left:0;
  margin-right:0;
}

.my_jumbo {
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover
}

#student_jumbo {
  background-color: #454545;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/img1.jpg);
}

#student_jumbo:hover {
  background-image: url(../img/img1.jpg);
}

#parent_jumbo {
  background-color: #292929;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/img2.jpg);
}

#parent_jumbo:hover {
  background-image: url(../img/img2.jpg);
}

.inside_jumbo {
  width: 50%;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align:center;
}

.inside_jumbo > h2 {
  margin-top: 0;
  color:#ffffff;
}

.inside_jumbo > p {
  color:#dddddd;
}

.inside_jumbo > a {
  margin-top: 0;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0);
  background-image:url('');
  border-radius: 500px;
  color: #ffffff;
  text-shadow: none;
}

.inside_jumbo > a:hover, .inside_jumbo > a:visited {
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid white;
  color: #ffffff;
}




#login_jumbo {
  background-color: #eeeeee;
}











/* DASHBOARD stuff */

.dash {
  background-color: #ffffff;
  border-right: 5px solid white;
  border-left: 5px solid white;
  padding:0;
}

.dash > .container {
  padding:0;
}

.in_dash {
  background-color: #fafafa;
  padding:15px;
  margin:0;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  border:5px solid white;
}

.clndr-controls {
  background-color: black;
}

.clndr-previous-button {
  display:none;
}

.clndr-next-button {
  display:none;
}

.day, .header-day {
  width:50px;
  height:50px;
  text-align:center;
}



#modal_submit {
  text-shadow: 0 -1px 0 rgba(0,0,0,.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  float:right;
}



#pusher_overlay {
  z-index:500;
  position:fixed;
  top:49px;
  left:0;
  width:100%;
  background-color: #E33434;
  padding:5px;
}

#pusher_overlay_text {
  overflow: hidden;
  color:white;
  width:80%;
  margin:0;
  float:left;
}

#pusher_overlay_close {
  float:right;
  width:8%;
  margin:0;
}





.child_dash {
  background-color: black;
  padding: 0 15px;
}
